<!--Views(HTML.erb)に適応されるテンプレート-->
<!--各Viewに共通した<head>タグの内容を提供する-->
<!--#各View固有の内容は<body>タグ内の<yield>部分に挿入される-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <!--rubyではMethod()の（）が省略可-->
        
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
