<!--Views(HTML.erb)に適応されるテンプレート-->
<!--各Viewに共通した<head>タグの内容を提供する-->
<!--#各View固有の内容は<body>タグ内の<yield>部分に挿入される-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--rubyではMethod()の（）が省略可-->
    
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
