<!--Views(HTML.erb)に適応されるテンプレート-->
<!--各Viewに共通した<head>タグの内容を提供する-->
<!--#各View固有の内容は<body>タグ内の<yield>部分に挿入される-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--rubyではMethod()の（）が省略可-->
    
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!--<div class="alert alert-<%= message_type %>"><%= message %></div>-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
